@import 'global.css';

.contactLinkContainer {
  text-align: center;
}

.link {
  text-decoration: none;
}

.email {
  color: gold;
}

.email:hover {
  color: yellow;
}

.Instagram {
  color: purple;
}

.Instagram:hover {
  color: rgb(187, 107, 187);
}

.GroupMe {
  color: blue;
}

.GroupMe:hover {
  color: cyan;
}

.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputWrapper input {
  text-align: center;
  max-width: 600px;
  width: 90%;
}