:root {
  --background-color: #6BC87D;
  --accent-color: #4A9E4A;
  --text-color: #333333;
  --text-accent-color: #FFD600;
  --modal-background: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --background-color: #121212;
  --accent-color: #333;
  --text-color: #e0e0e0;
  --modal-background: #333333
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--accent-color);
  padding: 1em;
}

@media (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

nav a {
  text-decoration: none;
  color: var(--text-accent-color);
  font-weight: bold;
  font-size: max(1.5em, calc(5vw - 2em));;

}

h1 {
  color: white;
  text-align: center;
  font-size: max(2em, calc(6vw - 2em));;
  -webkit-text-stroke: 0.1em black;
  paint-order: stroke fill;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  border: none;
  padding: max(1em, calc(4vw - 1em)) max(3em, calc(8vw - 1em));
  font-size: 1.5em;
  cursor: pointer;
  max-width: fit-content;
  justify-self: center;
  align-self: center;
  border-radius: 1em;
}

.darkModeToggle {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.6em 1em;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  z-index: 1000;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper input[type="text"],
.inputWrapper input[type="file"] {
  text-align: center;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
